In [495]:
import pandas as pd

In [496]:
df = pd.read_excel("C:/Users/ASUS/Desktop/stage pfe/data/automobile_exemple classification.xlsx")

In [497]:
df

,Unnamed: 0,Keyword,Avg. monthly searches,Variation sur trois mois,Variation YoY,prix,Neuve,leasing,populaire,occasion,type,nom marque,générique,Marque,modèle,électrique / hybride,pièces de rechanges,accessoires Auto
0,1,prix voiture neuve tunisie,22200,0,0,prix,neuve,NaN,NaN,NaN,NaN,NaN,générique,NaN,NaN,NaN,NaN,NaN
1,2,prix des voitures neuves en tunisie,22200,0,0,prix,neuve,NaN,NaN,NaN,NaN,NaN,générique,NaN,NaN,NaN,NaN,NaN
2,3,voiture neuve tunisie prix,22200,0,0,prix,neuve,NaN,NaN,NaN,NaN,NaN,générique,NaN,NaN,NaN,NaN,NaN
3,4,prix voiture neuve en tunisie,22200,0,0,prix,neuve,NaN,NaN,NaN,NaN,NaN,générique,NaN,NaN,NaN,NaN,NaN
4,5,prix des voitures neuves tunisie,22200,0,0,prix,neuve,NaN,NaN,NaN,NaN,NaN,générique,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,prix d une recharge voiture electrique sur aut...,10,∞,0,prix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,électrique / hybride,NaN,Accessoires auto
496,497,renault electrique prix,10,0,0,prix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,marque,NaN,électrique / hybride,NaN,NaN
497,498,cupra electrique prix,10,∞,0,prix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,marque,NaN,électrique / hybride,NaN,NaN
498,499,voiture electrique moins chere,10,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,générique,NaN,NaN,électrique / hybride,NaN,NaN
499,500,kia électrique prix,10,1,1,prix,NaN,NaN,NaN,NaN,NaN,NaN,NaN,marque,NaN,électrique / hybride,NaN,NaN

In [498]:
df.columns

Index(['Unnamed: 0', 'Keyword', 'Avg. monthly searches',
       'Variation sur trois mois', 'Variation YoY', 'prix', 'Neuve', 'leasing',
       'populaire', 'occasion', 'type', 'nom marque', 'générique', 'Marque',
       'modèle', 'électrique / hybride', 'pièces de rechanges',
       'accessoires Auto'],
      dtype='object')

In [499]:
cols_to_keep = ['Keyword', 'générique', 'Marque', 'modèle']
for i in df.columns:
    if i not in cols_to_keep:
        df = df.drop(i,axis= 1)

In [500]:
df

,Keyword,générique,Marque,modèle
0,prix voiture neuve tunisie,générique,NaN,NaN
1,prix des voitures neuves en tunisie,générique,NaN,NaN
2,voiture neuve tunisie prix,générique,NaN,NaN
3,prix voiture neuve en tunisie,générique,NaN,NaN
4,prix des voitures neuves tunisie,générique,NaN,NaN
...,...,...,...,...
495,prix d une recharge voiture electrique sur aut...,NaN,NaN,NaN
496,renault electrique prix,NaN,marque,NaN
497,cupra electrique prix,NaN,marque,NaN
498,voiture electrique moins chere,générique,NaN,NaN
499,kia électrique prix,NaN,marque,NaN

In [501]:
df = pd.get_dummies(df, columns=['générique', 'Marque', 'modèle'], dtype= int)

In [502]:
df

,Keyword,générique_générique,Marque_marque,modèle_modèle
0,prix voiture neuve tunisie,1,0,0
1,prix des voitures neuves en tunisie,1,0,0
2,voiture neuve tunisie prix,1,0,0
3,prix voiture neuve en tunisie,1,0,0
4,prix des voitures neuves tunisie,1,0,0
...,...,...,...,...
495,prix d une recharge voiture electrique sur aut...,0,0,0
496,renault electrique prix,0,1,0
497,cupra electrique prix,0,1,0
498,voiture electrique moins chere,1,0,0
499,kia électrique prix,0,1,0

In [503]:
# Define a function to set the 'category' based on the value of the last three columns
def set_category(data):
    if data['générique_générique'] == 1:
        return 'générique'
    elif data['Marque_marque'] == 1:
        return 'marque'
    elif data['modèle_modèle'] == 1:
        return 'modèle'
    else:
        return 'unknown'

# Apply the function to each row to set the 'category' column
df['category'] = df.apply(set_category, axis=1)

In [504]:
df

,Keyword,générique_générique,Marque_marque,modèle_modèle,category
0,prix voiture neuve tunisie,1,0,0,générique
1,prix des voitures neuves en tunisie,1,0,0,générique
2,voiture neuve tunisie prix,1,0,0,générique
3,prix voiture neuve en tunisie,1,0,0,générique
4,prix des voitures neuves tunisie,1,0,0,générique
...,...,...,...,...,...
495,prix d une recharge voiture electrique sur aut...,0,0,0,unknown
496,renault electrique prix,0,1,0,marque
497,cupra electrique prix,0,1,0,marque
498,voiture electrique moins chere,1,0,0,générique
499,kia électrique prix,0,1,0,marque

In [505]:
unknwon_list = []
unknown_keywords = df[df["category"] == "unknown"]["Keyword"]
unknwon_list.append(unknown_keywords.index)
print(unknown_keywords)
unknwon_list

298                                   enjoliveur tunisie
334                  location voiture utilitaire tunisie
337                  accessoire voiture tunisie en ligne
339                             accessoires voiture sfax
373                  prix huile boîte de vitesse tunisie
374                        pièce de rechange bmw tunisie
375                    piece de rechange kia rio tunisie
405                 accessoire intérieur voiture tunisie
456                      accessoires peugeot 205 tunisie
468                     cout recharge voiture électrique
490                    tarif recharge voiture électrique
494                           prix location batterie zoe
495    prix d une recharge voiture electrique sur aut...
Name: Keyword, dtype: object

[Index([298, 334, 337, 339, 373, 374, 375, 405, 456, 468, 490, 494, 495], dtype='int64')]

In [506]:
#creating an index column
df.reset_index(inplace=True)

In [507]:
indices_modèle = [375, 456]
index_marque = 374
unknown_list = [298, 334, 337, 339, 373, 405, 468, 490, 494, 495]
# Set the category values accordingly
df.loc[indices_modèle, 'category'] = 'modèle'
df.loc[index_marque, 'category'] = 'marque'
#df.loc[unknown_list, 'category'] = "générique"

In [508]:
df

,index,Keyword,générique_générique,Marque_marque,modèle_modèle,category
0,0,prix voiture neuve tunisie,1,0,0,générique
1,1,prix des voitures neuves en tunisie,1,0,0,générique
2,2,voiture neuve tunisie prix,1,0,0,générique
3,3,prix voiture neuve en tunisie,1,0,0,générique
4,4,prix des voitures neuves tunisie,1,0,0,générique
...,...,...,...,...,...,...
495,495,prix d une recharge voiture electrique sur aut...,0,0,0,unknown
496,496,renault electrique prix,0,1,0,marque
497,497,cupra electrique prix,0,1,0,marque
498,498,voiture electrique moins chere,1,0,0,générique
499,499,kia électrique prix,0,1,0,marque

In [509]:
df["category"].value_counts()

category
générique    249
modèle       166
marque        75
unknown       10
Name: count, dtype: int64

In [510]:
# Find the indices where the category value is 'unknown'
unknown_indices = df[df['category'] == 'unknown'].index

# Change the category value for those indices to 'générique'
df.loc[unknown_indices, 'category'] = 'générique'

In [511]:
df

,index,Keyword,générique_générique,Marque_marque,modèle_modèle,category
0,0,prix voiture neuve tunisie,1,0,0,générique
1,1,prix des voitures neuves en tunisie,1,0,0,générique
2,2,voiture neuve tunisie prix,1,0,0,générique
3,3,prix voiture neuve en tunisie,1,0,0,générique
4,4,prix des voitures neuves tunisie,1,0,0,générique
...,...,...,...,...,...,...
495,495,prix d une recharge voiture electrique sur aut...,0,0,0,générique
496,496,renault electrique prix,0,1,0,marque
497,497,cupra electrique prix,0,1,0,marque
498,498,voiture electrique moins chere,1,0,0,générique
499,499,kia électrique prix,0,1,0,marque

In [512]:
df["general_category"] = ''
for i in range(len(df)):
    if (df.loc[i, "category"] == "marque") or (df.loc[i, "category"] == "modèle"):
        df.loc[i, "general_category"] = "non générique"
    else:
        df.loc[i, "general_category"] = df.loc[i, "category"]

In [513]:
df["general_category"].value_counts()

general_category
générique        259
non générique    241
Name: count, dtype: int64

In [514]:
df = df.drop(columns=['générique_générique', 'Marque_marque', 'modèle_modèle'])

In [515]:
df

,index,Keyword,category,general_category
0,0,prix voiture neuve tunisie,générique,générique
1,1,prix des voitures neuves en tunisie,générique,générique
2,2,voiture neuve tunisie prix,générique,générique
3,3,prix voiture neuve en tunisie,générique,générique
4,4,prix des voitures neuves tunisie,générique,générique
...,...,...,...,...
495,495,prix d une recharge voiture electrique sur aut...,générique,générique
496,496,renault electrique prix,marque,non générique
497,497,cupra electrique prix,marque,non générique
498,498,voiture electrique moins chere,générique,générique
499,499,kia électrique prix,marque,non générique

**CLASSIFICATION MODELS**

**1- general category**

In [516]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [517]:
X = df.iloc[:,1]
y = df.iloc[:,3]

In [518]:
y

0          générique
1          générique
2          générique
3          générique
4          générique
           ...
495        générique
496    non générique
497    non générique
498        générique
499    non générique
Name: general_category, Length: 500, dtype: object

In [519]:
X

0                             prix voiture neuve tunisie
1                    prix des voitures neuves en tunisie
2                             voiture neuve tunisie prix
3                          prix voiture neuve en tunisie
4                       prix des voitures neuves tunisie
                             ...
495    prix d une recharge voiture electrique sur aut...
496                              renault electrique prix
497                                cupra electrique prix
498                       voiture electrique moins chere
499                                  kia électrique prix
Name: Keyword, Length: 500, dtype: object

In [520]:
#y = encoder.fit_transform(y)

In [521]:
#X

In [522]:
#y

**train,test split**

In [523]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 0)

In [524]:
X_train.dtype

dtype('O')

In [525]:
X_train.shape

(400,)

**Models**

In [526]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier


# Defining the models to train
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC(),
    "KNN": KNeighborsClassifier()
}

In [527]:
y_train

107        générique
336    non générique
71     non générique
474        générique
6          générique
           ...
323        générique
192        générique
117    non générique
47     non générique
172    non générique
Name: general_category, Length: 400, dtype: object

In [528]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
# Training and evaluating the models
for name, model in models.items():
    # Create a pipeline that first vectorizes the text and then applies the model
    pipeline = make_pipeline(TfidfVectorizer(), model)
    
    # Train the model
    pipeline.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = pipeline.predict(X_test)
    
    # Calculate the accuracy
    accuracy = accuracy_score(y_test, y_pred)
    
    # Print the model name and its accuracy
    print(f"Model: {name}")
    print(f"Accuracy: {accuracy:.4f}")
    
    # Print confusion matrix
    print(f'Confusion matrix of {name}:\n', confusion_matrix(y_test, y_pred))
    print()

Model: Logistic Regression
Accuracy: 0.9600
Confusion matrix of Logistic Regression:
 [[53  3]
 [ 1 43]]

Model: Random Forest
Accuracy: 0.9400
Confusion matrix of Random Forest:
 [[51  5]
 [ 1 43]]

Model: SVM
Accuracy: 0.9800
Confusion matrix of SVM:
 [[55  1]
 [ 1 43]]

Model: KNN
Accuracy: 0.9600
Confusion matrix of KNN:
 [[56  0]
 [ 4 40]]

In [529]:
merged_df = pd.read_csv(r"C:/Users/ASUS/Desktop/stage pfe/merged_data.csv")

In [530]:
new_df = merged_df.iloc[:, :1]
new_df.dtypes

Keyword    object
dtype: object

In [531]:
new_df

                                          Keyword
0                        accessoires auto tunisie
1                      accessoire voiture tunisie
2     maison volkswagen tunisie pièce de rechange
3                              enjoliveur tunisie
4                 accessoire voiture tunisie prix
...                                           ...
5751                    location utilitaire tunis
5752                  circuit 4x4 tunisie marmara
5753                       excursion 4x4 hammamet
5754                          raid 4x4 en tunisie
5755                           voyage tunisie 4x4

[5756 rows x 1 columns]

In [532]:
import joblib
svm_model = models["SVM"]
# Assuming svm_model is your trained SVM model
joblib.dump(svm_model, "svm_model.pkl")

['svm_model.pkl']

In [533]:
print(svm_model)

SVC()

In [534]:
# Load the saved SVM model
svm_model = joblib.load("svm_model.pkl")

In [535]:
svm_model.get_params()

{'C': 1.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [536]:
svm_model.shape_fit_

(400, 209)

In [537]:
'''
# Apply the same TF-IDF vectorizer used during training
tfidf_vectorizer = TfidfVectorizer()  # Initialize the TF-IDF vectorizer

# Initialize an empty list to store the predicted categories
all_predictions = []
input_shape = len(new_df)/209
nb_batch = 0
# Iterate over batches of 209 keywords from the "Keyword" column
for i in range(0,len(new_df)):
    #print(round(input_shape)-1)
    #Extract a batch of 209 keywords
    batch_keywords = new_df.loc[i:i+208, "Keyword"]
    #print(batch_keywords)
    # Apply the same TF-IDF vectorizer used during training
    X_batch_tfidf = tfidf_vectorizer.fit_transform(batch_keywords)
    
    # Make predictions using the loaded SVM model
    batch_predictions = svm_model.predict(X_batch_tfidf)
    
    # Append the batch predictions to the list of all predictions
    all_predictions.extend(batch_predictions)

    nb_batch += 1

# Now all_predictions contains the predicted categories for all keywords in new_df

'''

'\n# Apply the same TF-IDF vectorizer used during training\ntfidf_vectorizer = TfidfVectorizer()  # Initialize the TF-IDF vectorizer\n\n# Initialize an empty list to store the predicted categories\nall_predictions = []\ninput_shape = len(new_df)/209\nnb_batch = 0\n# Iterate over batches of 209 keywords from the "Keyword" column\nfor i in range(0,len(new_df)):\n    #print(round(input_shape)-1)\n    #Extract a batch of 209 keywords\n    batch_keywords = new_df.loc[i:i+208, "Keyword"]\n    #print(batch_keywords)\n    # Apply the same TF-IDF vectorizer used during training\n    X_batch_tfidf = tfidf_vectorizer.fit_transform(batch_keywords)\n    \n    # Make predictions using the loaded SVM model\n    batch_predictions = svm_model.predict(X_batch_tfidf)\n    \n    # Append the batch predictions to the list of all predictions\n    all_predictions.extend(batch_predictions)\n\n    nb_batch += 1\n\n# Now all_predictions contains the predicted categories for all keywords in new_df\n\n'

In [538]:
# Assuming X_train, y_train are your original training data used to train the SVM model
# Assuming new_df is your DataFrame containing the new data to be predicted

X_train_svm = X  # Whole keywords used in training phase
y_train_svm = y  # Whole values in the general_category column
X_test_svm = new_df.loc[:, "Keyword"]  # New data to predict


label_encoder = LabelEncoder()
y_train_svm_encoded = label_encoder.fit_transform(y_train_svm)
'''
X_train_svm_encoded = pd.get_dummies(X_train_svm)
#X_test_svm_encoded = label_encoder.fit_transform(X_test_svm)
X_test_svm_encoded = pd.get_dummies(X_test_svm)
'''
#svm_model.fit(X_train_svm_encoded.reshape(-1, 1),y_train_svm_encoded.reshape(-1, 1))
#svm_model.fit(X_train_svm,y_train_svm_encoded.reshape(-1, 1))

'\nX_train_svm_encoded = pd.get_dummies(X_train_svm)\n#X_test_svm_encoded = label_encoder.fit_transform(X_test_svm)\nX_test_svm_encoded = pd.get_dummies(X_test_svm)\n'

In [539]:
X_train_svm_encoded

,2008 peugeot prix tunisie,3008 peugeot prix tunisie,308 peugeot prix tunisie,4x4 djerba désert,4x4 tunisie,a vendre voiture en tunisie,a vendre voiture occasion en tunisie,accessoire auto tunisie facebook,accessoire clio 2 tunisie,accessoire intérieur voiture tunisie,...,volkswagen caddy prix tunisie,volkswagen prix tunisie,volkswagen tunisie,volvo xc90 prix tunisie neuf,www automobile neuf tn,www voiture neuve en tunisie,zoe electrique prix,zoe prix,zoe renault prix,zoe électrique prix
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [540]:
y_train_svm

0          générique
1          générique
2          générique
3          générique
4          générique
           ...
495        générique
496    non générique
497    non générique
498        générique
499    non générique
Name: general_category, Length: 500, dtype: object

In [541]:
y_train_svm_encoded

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1])

In [542]:
#pred_svm = svm_model.predict(X_test_svm_encoded.reshape(-1, 1))
#pred_svm = svm_model.predict(X_test_svm_encoded)

In [543]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC

# Initialize the TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Initialize the SVM model
#svm_model = SVC(kernel='linear')  # Or any other kernel you're using

# Create a pipeline
pipeline = Pipeline([
    ('tfidf', tfidf_vectorizer),
    ('svm', svm_model)
])

# Fit the pipeline on your training data
pipeline.fit(X_train_svm, y_train_svm_encoded)  # Assuming X_train_svm['keywords'] contains the text data

# Use the pipeline to predict new data
pred_svm = pipeline.predict(X_test_svm)

In [544]:
label_encoder.inverse_transform(pred_svm)

array(['générique', 'générique', 'non générique', ..., 'générique',
       'générique', 'générique'], dtype=object)

In [545]:
label_encoder.inverse_transform(y_train_svm_encoded)

array(['générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'générique', 'générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'générique', 'générique', 'non générique',
       'non générique', 'générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'générique', 'non générique',
       'non générique', 'générique', 'non générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'non générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'générique', 'générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique',
       'non générique', 'générique', 'générique', 'non générique',
       'non générique', 'générique', 'générique', 'générique',
       'non générique', 'générique', 'générique', 'non générique',
       'non générique', 'générique', 'non générique', 'générique',
       'générique', 'non générique', 'non générique', 'générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'générique', 'non générique', 'générique', 'générique',
       'non générique', 'non générique', 'générique', 'générique',
       'non générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'non générique', 'générique',
       'générique', 'non générique', 'générique', 'générique',
       'générique', 'générique', 'non générique', 'générique',
       'non générique', 'générique', 'générique', 'non générique',
       'générique', 'générique', 'générique', 'générique',
       'non générique', 'générique', 'générique', 'générique',
       'non générique', 'non générique', 'générique', 'générique',
       'générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'générique',
       'non générique', 'générique', 'non générique', 'générique',
       'générique', 'générique', 'non générique', 'non générique',
       'non générique', 'générique', 'générique', 'non générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'non générique', 'générique',
       'générique', 'générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'générique', 'générique', 'non générique',
       'générique', 'non générique', 'non générique', 'générique',
       'non générique', 'générique', 'non générique', 'non générique',
       'non générique', 'générique', 'non générique', 'non générique',
       'générique', 'générique', 'générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'générique', 'générique', 'non générique', 'générique',
       'non générique', 'générique', 'non générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'générique', 'non générique',
       'non générique', 'non générique', 'générique', 'non générique',
       'non générique', 'générique', 'générique', 'non générique',
       'non générique', 'non générique', 'générique', 'non générique',
       'générique', 'non générique', 'non générique', 'non générique',
       'générique', 'non générique', 'générique', 'générique',
       'non générique', 'non générique', 'générique', 'générique',
       'générique', 'générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'générique', 'non générique',
       'non générique', 'générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'générique', 'générique', 'générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'non générique', 'non générique', 'non générique', 'non générique',
       'générique', 'non générique', 'non générique', 'générique',
       'générique', 'générique', 'non générique', 'non générique',
       'générique', 'non générique'], dtype=object)

In [546]:
new_df["prediction"] = pred_svm

In [547]:
new_df

                                          Keyword  prediction
0                        accessoires auto tunisie           0
1                      accessoire voiture tunisie           0
2     maison volkswagen tunisie pièce de rechange           1
3                              enjoliveur tunisie           0
4                 accessoire voiture tunisie prix           0
...                                           ...         ...
5751                    location utilitaire tunis           0
5752                  circuit 4x4 tunisie marmara           0
5753                       excursion 4x4 hammamet           0
5754                          raid 4x4 en tunisie           0
5755                           voyage tunisie 4x4           0

[5756 rows x 2 columns]

In [548]:
new_df['prediction'] = label_encoder.inverse_transform(new_df['prediction'])

In [549]:
new_df['prediction']

0           générique
1           générique
2       non générique
3           générique
4           générique
            ...
5751        générique
5752        générique
5753        générique
5754        générique
5755        générique
Name: prediction, Length: 5756, dtype: object

In [550]:
new_df['prediction'].value_counts()

prediction
non générique    3212
générique        2544
Name: count, dtype: int64

In [551]:
new_df

                                          Keyword     prediction
0                        accessoires auto tunisie      générique
1                      accessoire voiture tunisie      générique
2     maison volkswagen tunisie pièce de rechange  non générique
3                              enjoliveur tunisie      générique
4                 accessoire voiture tunisie prix      générique
...                                           ...            ...
5751                    location utilitaire tunis      générique
5752                  circuit 4x4 tunisie marmara      générique
5753                       excursion 4x4 hammamet      générique
5754                          raid 4x4 en tunisie      générique
5755                           voyage tunisie 4x4      générique

[5756 rows x 2 columns]

In [552]:
new_df.head(60)

                                        Keyword     prediction
0                      accessoires auto tunisie      générique
1                    accessoire voiture tunisie      générique
2   maison volkswagen tunisie pièce de rechange  non générique
3                            enjoliveur tunisie      générique
4               accessoire voiture tunisie prix      générique
5           accessoire voiture tunisie en ligne      générique
6         vente accessoire auto tunisie en gros      générique
7              vente accessoire voiture tunisie      générique
8        prix pièce de rechange kia rio tunisie  non générique
9               accessoires isuzu d max tunisie  non générique
10         pièce de rechange volkswagen tunisie  non générique
11            pièce de rechange volkswagen sfax  non générique
12        pièce de rechange hyundai i10 tunisie  non générique
13         accessoire intérieur voiture tunisie      générique
14         rétroviseur ford fiesta tunisie prix  non générique
15                     prix rétroviseur tunisie  non générique
16           accessoire voiture en gros tunisie      générique
17                  accessoire mercedes tunisie  non générique
18    prix pièce de rechange seat ibiza tunisie  non générique
19              accessoire toyota hilux tunisie  non générique
20         pièce de rechange citroen ax tunisie  non générique
21                     accessoires voiture sfax      générique
22             accessoire auto tunisie facebook      générique
23        pièce de rechange hyundai i20 tunisie  non générique
24              prix rétroviseur symbol tunisie  non générique
25              mazda tunisie pièce de rechange  non générique
26            courroie alternateur prix tunisie      générique
27    prix pompe direction assistée 206 tunisie      générique
28                  accessoire megane 2 tunisie      générique
29                  piece detachee auto tunisie      générique
30                    accessoire voiture sousse      générique
31             accessoires opel astra h tunisie  non générique
32            pièce de rechange kia rio tunisie  non générique
33            pièce de rechange audi a4 tunisie  non générique
34     pieces de rechange volkswagen en tunisie  non générique
35          prix kit chaine ford fiesta tunisie  non générique
36          prix huile boîte de vitesse tunisie      générique
37    prix pièce de rechange volkswagen tunisie  non générique
38         maison bmw tunisie pièce de rechange  non générique
39                  pièce de rechange ford sfax  non générique
40           peugeot tunisie pieces de rechange  non générique
41                      accessoires bmw tunisie      générique
42            accessoire renault symbol tunisie  non générique
43         volkswagen tunisie piece de rechange  non générique
44          pièce de rechange volkswagen ariana  non générique
45                pièce de rechange bmw tunisie  non générique
46            accessoire suzuki celerio tunisie  non générique
47              accessoires peugeot 205 tunisie  non générique
48          fournisseur pièce ssangyong tunisie  non générique
49               accessoire peugeot 206 tunisie  non générique
50                    accessoire clio 2 tunisie  non générique
51        pièce de rechange peugeot 407 tunisie  non générique
52                accessoire voiture en tunisie      générique
53                       piece détachée tunisie      générique
54               piece de rechange auto tunisie      générique
55               accessoire mazda bt 50 tunisie  non générique
56           prix piece de rechange kia tunisie  non générique
57              rétroviseur golf 7 prix tunisie  non générique
58          prix piece de rechange moto tunisie      générique
59                       accessoires auto tunis      générique

In [554]:
# Specify the file path and name
file_path = 'C:/Users/ASUS/Desktop/stage pfe/model output/general_cat_pred_svm.csv'

# Save the DataFrame to a CSV file
new_df.to_csv(file_path, index=False)